/* -------------------------------
BLOCS PICTURE COMPONENT
------------------------------- */
.cbo-blocspicture{
	.blocspicture-list{
		max-width: 480px;
		margin: -10px auto;

		.list-el{
			.el-inner{
				margin: 10px 0;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 10px;

				.inner-picture{
					padding-bottom: 100%;
					width: 100%;

					&:after{
						content: '';
						background: rgba($colorblack, 0.1);
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						transition: all .6s cubic-bezier(.215,.6,.27,.995);
					}
				}
				.inner-title{
					color: $colorwhite;
					margin: 0;
					position: absolute;
					z-index: 2;
				}
			}
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
	.cbo-blocspicture{
		.blocspicture-list{
			max-width: inherit;
			margin: 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
	
			.list-el{
				width: 33.33333%;
				max-width: 480px;

				.el-inner{
					margin: 0;
					padding: 0 30px;

					.inner-picture{
						padding-bottom: 142%;
					}
					.el-square{
						position: absolute;
						bottom: -30px;
						right: 28px;
						width: 16px;
						height: 22px;
						background:$colorblackdark;
						transition: all .4s;

						&.square--pink{
							right: 7px;
							background: $colorpink;
						}
					}
				}
				&:hover{
					.el-inner{
						.inner-picture{
							&:after{
								background: rgba($colorblack, 0.3);
							}
						}
						.el-square{
							background:$colorpink;
	
							&.square--pink{
								background: $colorblackdark;
							}
						}
					}
				}
			}
		}
	}
}