/* -------------------------------
HERO COMPONENT
------------------------------- */
.cbo-hero{
	padding-bottom: 50%;
	position: relative;
	min-height: 350px;

	&:after{
		content: '';
		background: url(../img/frame-bottom.png) no-repeat center bottom;
		background-size: contain;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.hero-picturelist{
		position: absolute;
		height: 100%;
		left: 0;
		opacity: .4;
		top: 0;
		width: 100%;

		.slick-list {
			position:absolute;
			width: 100%;

			.picturelist-el{
				height: 100%;
			}
		}
		.picturelist--bottom{
			img{
				object-position: bottom;
			}
		}
		.picturelist--top{
			img{
				object-position: top;
			}
		}
	}
	.hero-inner{
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		height: 100%;
		width: 100%;
		padding: 50px 20px;

		.hero-logo{
			width: 200px;
			height: 119px;
			position: relative;
			z-index: 2;
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.cbo-hero{
		.hero-inner{
			.hero-logo{
				width: 250px;
				height: 148px;
			}
		}
	}
}