/* -------------------------------
PARTNERS COMPONENT
------------------------------- */
.cbo-partners{
    .partners-list{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .list-el{
            width: 50%;
            height: 80px;
            margin: 10px 0;

            .el-inner{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                height: 100%;

                img{
                    position: relative;
                }
            }
        }
    }
    .partners-outro{
        margin-top: 50px;  
    }
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width:$screen-sm-min) {
    .cbo-partners{
        .partners-list{
            .list-el{
                width: 25%;
            }
        }
    }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width:$screen-md-min) {
    .cbo-partners{
        .partners-list{
            margin-top: 40px;

            .list-el{
                width: 20%;
                height: 100px;

                .el-inner{
                    padding: 0 16px;
                }
            }
        }
    }
}
/* -------------------------------
XLARGE SCREENS
------------------------------- */
@media (min-width:$screen-xl-min) {
    .cbo-partners{
        .partners-list{
            .list-el{
                width: 10%;
            }
        }
    }
}