/* -------------------------------
FOOTER COMPONENT
------------------------------- */
footer{
	background: $colorgoldmedium;
	text-align: center;
	
	a{
		color: $colorbluedark;
		transition:all .4s cubic-bezier(.694,.048,.335,1);

		&:hover{
			color: $colorwhite;
		}
	}
	.footer-inner.cbo-container{
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.footer-logo{
		margin-bottom: 1.875rem;
		display: block;
	}
	.footer-social{
		display: flex;
		justify-content: center;
		margin-top: 1.875rem;

		.social-el{
			margin: 0 0.625rem;
		}
	}
}

/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
	footer{
		text-align: inherit;

		.footer-inner.cbo-container{
			display: flex;
			justify-content: space-between;
		}

		.footer-logo{
			margin-bottom: 0;
		}
		.footer-nav{
			flex: 1;
			padding: 0 1.25rem;
			display: flex;
			justify-content: center;

			nav{
				.footer-menu{
					display: flex;

					li{
						margin: 0 0.625rem;
					}
				}
			}
		}
		.footer-social{
			justify-content: center;
			margin-top: 0;
		}
	}
}