/* -------------------------------
HEADER COMPONENT
------------------------------- */
header{
	position:fixed;
	z-index:9;
	top:0;
	left:0;
	width:100%;
	padding: 0 0 0.625rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background: rgba($colorgoldmedium, .0);
	transition:all .4s cubic-bezier(.694,.048,.335,1);

	&.header-scroll{
		background: rgba($colorgoldmedium, 1);
		box-shadow: 0 0.375rem 1.5rem rgba($colorblack, 0.3);

		.header-logo{
			color: $colorbluedark;
		}
		.header-content{
			.header-nav {
				ul {
					li {
						a{
							color: $colorbluedark;
						}
					}
				}
			}
			.languages-switcher{
				border-left: .0625rem solid $colorbluedark;

				li {
					a{
						color: rgba($colorbluedark,.5);
					}
					&.current-lang{
						a{
							color: $colorbluedark;
						}
					}
				}
			}
		}
	}
	.header-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding-top: 0.625rem;
	}
	.header-logo{
		color: $colorwhite;
		position: relative;
		z-index: 5;
		letter-spacing: 0.12em;
		text-shadow: 0 0.125rem 0.25rem rgba($colorblack ,0.1);
		font-size: 1.25rem;
  		line-height: 1.75rem;
		transition: all .4s;
	}
	.header-content{
		display: flex;
		align-items: center;

		.burger-menu{
			display:block;
			position: relative;
			z-index: 999;
			width: 1.25rem;
			height: 2.5rem;
			
			.top,
			.middle,
			.bottom{
				background-color:$colorwhite;
				width:1.25rem;
				height:0.125rem;
				border-radius: 0.4375rem;
				position:absolute;
				left: 0;
				transition:all .3s;
			}
			.top{
				top:0.8125rem;
			}
			.middle{
				top:1.25rem;
			}
			.bottom{
				top:1.6875rem;
			}
			&.burger-menu-cross{
				.top{
					transform: rotate3d(0, 0, 1, 45deg);
					transform-origin: 50% 50% 0rem;
					top: 1.25rem;
				}
				.middle{
					opacity:0;
				}
				.bottom{
					transform: rotate3d(0, 0, 1, -45deg);
					transform-origin: 50% 50% 0rem;
					top: 1.25rem;
				}
			}
		}
		.languages-switcher{
			display: flex;
			align-items: center;
			margin: 0 -0.3125rem 0 1rem;
			border-left: 0.0625rem solid $colorwhite;
			padding-left: 0.6875rem;

			li{
				margin: 0 0.3125rem;
				display: flex;
				align-items: center;

				a{
					color:rgba($colorwhite, .5);
					transition:all .4s cubic-bezier(.694,.048,.335,1);
				}
				&.current-lang{
					a{
						color:rgba($colorwhite, 1);
					}
				}
				&:first-child{
					&:after{
						color: $colorwhite;
						content: '/';
						display: block;
						margin-left: 0.625rem;
					}
				}
			}
		}
		.header-nav{
			padding-top: 6.25rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			overflow-y: auto;
			background:$colorwhite;
			width: 12.5rem;
			position: fixed;
			top: 0;
			left: 0;
			height: 100dvh;
			z-index: 3;
			transform:translateX(-110%);
			transition: all 0.8s cubic-bezier(0.85, 0, 0.15, 1) 0s;

			&.nav--open{
				transform:translateX(0%);
			}

			ul{
				li{
					border-bottom:0.0625rem solid $colorbluelight;
					position: relative;
					text-transform: uppercase;

					&.current-menu-item{
						a{
							color: $colorgold;
						}
					}
					a{
						color:$colorbluedark;
						position: relative;
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding:0.875rem 1.25rem 0.875rem 1.25rem;
					}
				}
			}
		}
	}
}

/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
	header{
		padding: 0 0 1rem 0;

		.header-inner{
			padding-top: 1rem;
		}
		.header-logo{
			&:hover{
				color: $colorwhite;
			}
		}
		.header-content{
			display: flex;
			align-items: center;

			.burger-menu{
				display: none;
			}
			.languages-switcher{
				margin-left: 2rem;

				li{
					a{
						&:hover{
							color:rgba($colorwhite, 1);
						}
					}
				}
			}
			.header-nav{
				transform: translate(0);
				background: none;
				position: unset;
				width: auto;
				overflow: initial;
				align-items: center;
				padding: 0;
				height: auto;
				margin: 0 -0.875rem;

				ul{
					li{
						display:inline-block;
						border-bottom: 0rem;
						margin: 0 0.875rem;
						transition:all .4s cubic-bezier(.694,.048,.335,1);

						a{
							color: $colorwhite;
							padding: 0;
							display: flex;
							align-items: center;
							position: relative;
							transition:all .4s cubic-bezier(.694,.048,.335,1);

							&:before{
								content: "";
								background-color: $colorwhite;
								position: absolute;
								left: 0;
								right: 0;
								top: -0.375rem;
								height: 0.0625rem;
								transition: transform .3s;
								transition-timing-function: ease, ease;
								transform: scaleX(0);
								transform-origin: center center;
								z-index: -1;
							}
						}


						&:hover,
						&.current-menu-item {
							a{
								color: $colorwhite;

								&:before{
									transform: scaleX(1);
								}
							}
						}
					}
				}
			}
		}
	}
}