/* -------------------------------
ARTICLE BLOC MICRO COMPONENT
------------------------------- */
.articles-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 40px -10px;

	.list-title{
		width: 100%;
	}
	.list-el{
		.el-inner{
			padding: 10px;
			display: block;
		}
		&.el-podcast{
			width: 50%;
			max-width: 220px;
			text-align: center;

			.el-inner{
				color: $colorblack;
			}
			.el-picture{
				width: 80px;
				height: 80px;
				display: block;
				margin: 0 auto 14px auto;
			}
		}
		&.el-press{
			.el-inner{
				.el-picture{
					width: 140px;
					height: 70px;
					display: block;
				}
			}
		}
		&.el-video{
			iframe{
				width: 100%;
			}
		}
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min) {
	.articles-list{
		margin: 90px -10px;
		
		.list-el{
			&.el-podcast{
				width: 25%;
			}
			&.el-video{
				width: 46%;
			}
		}
	}
}