/* -------------------------------
BUTTONS MICRO COMPONENT
------------------------------- */
input[type="submit"],
.cbo-button{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: $colorwhite;
	background: $colorbluemedium;
	padding: 0.5rem 1.875rem;
	height: 3.75rem;
	font-size: 1.125rem;
	min-width: 12.5rem;
	border-radius: $bordersmall;
	border: none;
	cursor: pointer;
	transition:all .2s cubic-bezier(.694,.048,.335,1);

	&:hover{
		box-shadow: 0 0 0 0.0625rem $colorbluemedium inset;
		color: $colorbluemedium;
		background: none;
	}
	&.button--gold{
		background: $colorgold;

		&:hover{
			box-shadow: 0 0 0 0.0625rem $colorgold inset;
			color: $colorgold;
			background: none;
		}
	}
}