/* -------------------------------
CONTAINER MICRO COMPONENT
------------------------------- */
.cbo-container {
  margin: 3.75rem auto;
  max-width: 80rem;
  padding: 0 1.5rem;
  position: relative;
  width: 100%;

  &.container--nomargin{
    margin: 0 auto;
  }
  &.container--padding {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4.375rem;
    padding-bottom:4.375rem;
  }
  &.container--small{
    max-width: 51rem;
  }
}

/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
  .cbo-container {
    margin: 7rem auto;

    &.container--padding {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
  }
}