/* -------------------------------
CONNEXION COMPONENT
------------------------------- */
.login{
	padding: 0;
	display: flex;
	background: $colorwhite;
	color:$colorbluedark;

	a,
	label{
		color:$colorbluedark;
	}
	h1{
		a{
			background: url("../images/logo-helenedrouin.png") no-repeat center;
			background-size: contain;
			width: 200px;
		}
	}
	form .input{
		border:1px solid $colorbluedark;
	}
	.button.button-large{
		background: $colorgold;
		border: 0px;
		margin-top: 30px;
		width: 100%;
	}
	form .input{
		border-radius: 0px;
	}
	.language-switcher{
		display: none;
	}
	#backtoblog a,
	#nav a {
		color: $colorwhite;
	}
}