/* -------------------------------
CONNEXION COMPONENT
------------------------------- */
.login{
	padding: 0;
	display: flex;
	background: $colorwhite;
	color:$colorbluedark;

	a,
	label{
		color:$colorbluedark;
	}
	h1{
		a{
			background: url("../images/logo-helenedrouin.png") no-repeat center;
			background-size: contain;
			width: 12.5rem;
		}
	}
	form .input{
		border:0.0625rem solid $colorbluedark;
	}
	.button.button-large{
		background: $colorgold;
		border: 0;
		margin-top: 1.875rem;
		width: 100%;
	}
	form .input{
		border-radius: 0;
	}
	.language-switcher{
		display: none;
	}
	#backtoblog a,
	#nav a {
		color: $colorwhite;
	}
}