.slick-slider {
	.slick-list {
		height: 100%;
		overflow: hidden;

		&:focus {
			outline: none;
		}
		&.dragging {
			cursor: hand;
		}
		.slick-track {
			display: flex;
			height: 100%;

			.slick-slide{
				height: 100%;
			}
			.slick-slide > div{
				height:100%;
			}
		}
	}
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}
.slick-dots{
	margin: 50px 0 0 0;
	width: 100%;
	display: flex;
	justify-content: center;
	position: initial;

	li{
		cursor:pointer;
		font-size:0;
		width:10px;
		height:10px;
		margin:0 5px;
		border-radius:30px;
		background-color: $colorwhite;
		opacity:0.4;
		position: relative;
		transition: .5s all;

		&.slick-active{
			opacity:1;
		}
		button{
			display:none;
		}
	}
}