@import "../../../src/scss/partials/variables";

/* -------------------------------
BLOCS SIMPLE COMPONENT
------------------------------- */
.cbo-blocsimple{
  background: $colorgoldxlight;
  text-align: center;

  .blocsimple-title{
    margin-bottom: 0.625rem;
  }

  .blocsimple-list{
    .list-el{
      margin: 2rem 0;

      .el-inner{
        background: $colorwhite;
        border-right: 0.25rem solid $colorbluemedium;
        border-bottom: 0.25rem solid $colorbluemedium;
        padding: 2rem;
        border-radius: $bordersmall;
        text-align: left;

        .inner-icon{
          padding: 0.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
          border-radius: 99rem;
          background: $colorbluelight;
          margin-bottom: 1rem;

          img{
            position: relative;
            max-width: 1.5rem;
            max-height: 1.5rem;
          }
        }
        .inner-title{
          margin-bottom: 0.625rem;
        }
      }
    }
  }
}

/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width:$screen-sm-min) {
  .cbo-blocsimple{
    background: $colorgoldxlight;
    text-align: center;

    .blocsimple-title{
      margin-bottom: 0.625rem;
    }
    .blocsimple-list{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1rem ;

      .list-el{
        width: 33.33333%;
        padding: 0 1rem;

        .el-inner{
          height: 100%;
        }
      }
    }
  }
}